.content{
  background-color: #F9F5F3;
  .con-left{
    .data-view {
      width: 100%;
      height:30vh;
    }
    .click-way{
      height: 10vh;
      // margin-right: 10px;
      .catch{
        background-color: #FFFFFF;
        color: #3D5161;
        border-radius: 30px;
        padding: 0;
        .graph , .list{
          padding: 10px 30px;
          text-align: center;
          cursor: pointer;
        }
        .active{
          background-color:#FF7F5C;
          color: #FFFFFF;
          border-radius: 30px;
        }
      }
    }
    .data-way-veiw{
      height: 47vh;
    }
  }
  .con-right{

  }
}

::-webkit-scrollbar {
  margin-left: 30px;
  width: 5px;
}
::-webkit-scrollbar-track {
  margin-left: 30px;
  box-shadow: inset 0 0 5px #FF7F5C;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  margin-left: 30px;
  background: #FF7F5C;
  border-radius: 10px;
}
